/* App.css */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Add this line */
}

.split {
  display: flex;
  flex: 1;
}

.pane {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin-left: 10px
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=');
  cursor: ew-resize;
}

.cm-editor .cm-gutters {
  height: 100% !important;
}

/* Change the background color of the gutter */
.cm-editor .cm-gutter  {
  background-color: #555b68 !important; /* Set to your preferred color */
}

.cm-activeLineGutter {
  background-color: #434752 !important; /* Set to your preferred color */
}

/* Change the color of the line numbers */
.cm-editor .cm-lineNumbers .cm-gutterElement {
  color: #f8f8f2 !important; /* Set to your preferred color */
}

.cm-lineNumbers {
  width: 30px; /* specify your desired width */
}


